<% @quiz.long_text_questions.each do |ltq| %>
    <div class="orderer">
      <div class="box">
        <strong><p>Long Text Question</p></strong>
        <p><%= ltq.title %></p>
        <p><%= ltq.id %></p>
      </div>
    </div>
<% end %>
