<h2>Add an answer:</h2>
<%= form_for([@quiz, @quiz.questions.answers.build]) do |answer_form| %>
	<div class="field">
		<%= answer_form.label :result %><br />
		<%= answer_form.text_field :result %>
	</div>
  <div class="actions">
  <%= answer_form.submit %>
</div>
<% end %>
