<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Answers</title>
</head>
<body>
<h1>Answers</h1>
<table>
  <thead>
  <tr>
    <th>result</th>
    <th>user_id</th>
    <th>question_id</th>
  </tr>
  </thead>

  <tbody>
  <% @answers.each do |answer| %>
    <tr>
      <td><%= answer.result %></td>
      <td><%= answer.user_id %></td>
      <td><%= answer.question_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>