// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.box-option {
  background-color: #7b9dd4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 28%;
  margin-top: -10px;
  margin-bottom: 20px;
  text-decoration-color: white;
  p {
    color: white;
  }
}
.orderer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 30px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 35px;
  width: 28%;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 36px;
}
p {
  font-family: 'Inter', sans-serif;
  margin-top: 15px;
  font-size: 24px;
  color: #000000;
}
sub {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #565656;
}
.stringer {
  align-self: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
  padding: 0px 10px 0px 10px;
}
