// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 30px;
  margin-top: 35px;
  margin-bottom: 35px;

  h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 36px;
  }
  p {
    font-family: 'Inter', sans-serif;
    margin-top: 15px;
    font-size: 24px;
    color: #000000;
  }
  sub {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #565656;
  }
  .stringer {
    align-self: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
  }
}
